body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #020617, #020617);
  color: #e5e7eb;
  text-align: center;
  padding: 30px;
}

.card {
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 6px;
}

#chart {
  max-width: 900px;
  margin: 30px auto;
}

#result {
  font-size: 18px;
  margin-top: 20px;
}
